@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

h1{
    font-size: 32px;
    font-weight: 700;
    font-family: 'Inter', serif;
}

#textBox{
    width: 484px;
    height: 63px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 17px;
    border: 1px solid #000000;
    color: #808080;
}

.searchBar{
    margin-top: 23px;
    margin-bottom: 40px;
}

#button{
    width: 132px;
    height: 63px;
    font-weight: 500;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #ffffff;
    background-color: #000000;
    margin-left: 23px;
}

ul{
    background: #D9D9D9;
}

ul li{
    border: 1px solid #ffffff;
    width: 635px;
    height: 62px;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    padding-top: 30px;
    padding-left: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkBox{
    width: 24px;
    height: 23px;
    margin-right: 80px;
    border: 1px solid #ffffff;
}

p{
    padding-top: 15px;
    text-align: right;
    font-weight: 500;
    font-size: 20px;
}

p span{
    font-weight: 700;
}